[submodule "third_party/agents"]
	path = third_party/agents
	url = https://github.com/tensorflow/agents.git
[submodule "agents/agents"]
	path = agents/agents
	url = https://github.com/tensorflow/agents.git
